.room{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 80px;
    padding: 20px;
    background-color: white;
    border-radius: 36px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    
    .room-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        .room-info-details{
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: #056a75;

            small{
                display: flex;
                align-items: center;
                gap: 5px;
            }

            a{
                cursor: pointer;
            }
        }

        .room-info-button{
            display: flex;
            align-items: center;
            gap: 30px;
            color: #056a75;

            svg{
                color: gold;
            }

            .reserve{
                padding: 15px 30px;
                background-color: #056a75;
                border: 1px solid #056a75;
                color: white;
                border-radius: 10px;
                cursor: pointer;
                transition: 200ms;

                &:hover{
                    background-color: white;
                    border: 1px solid #056a75;
                    color: #056a75;
                    transition: 200ms;
                }
            }
        }
    }

    .room-display{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        .room-display-gallery{
            width: 65%;
        }

        .room-display-map{
            width: 35%;
            display: flex;
            justify-content: center;
            // align-items: center;
        }
    }

    .room-description{
        display: flex;
        justify-content: space-between;
        gap: 30px;

        .room-description-container{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 65%;

            .top-facilities{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .top-facility-card{
                    padding: 10px 20px;
                    border: 1px solid #056a75;
                    color: #056a75;
                }
            }

            .facility{
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .facilities{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
            }
        }
        
        .room-description-sidebar{
            width: 35%;

            .all-facilities {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0.3rem; 
            }    
              
        }
    }
}

@media (max-width: 950px){
    .room{
        margin: 20px 30px;

        .room-info{
            .room-info-details{
                a{
                    display: none;
                }
            }
        }

        .room-description{
            flex-direction: column;

            .room-description-container{
                width: 100%;
            }

            .room-description-sidebar{
                width: 100%;
            }
        }
    }
}

@media (max-width: 770px){
    .room{
        .room-display{
            flex-direction: column;

            .room-display-gallery{
                width: 100%;
            }

            .room-display-map{
                width: 100%;
            }
        }
    }
}

@media (max-width: 440px){
    .room{
        margin: 0px;
        border-radius: 0px;
    }
}