.onboarding{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/ohrid.jpg');
    background-size: cover;

    .onboarding-container{
        display: flex;
        gap: 30px;
        .onboarding-card{
            img{
                width: 220px;
            }
        }
    }

    .onboarding-bottom-card{
        position: absolute;
        bottom: 0;
        height: 50px;
        width: 250px;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}