.room-card{
    border-radius: 32px;
    margin: 40px 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    color: #056a75;
    transition: 200ms;
    background-color: white;
    
    .room-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        width: 70%;
    }
    
    .room-img{
        width: 300px;
        height: 200px;
        border-radius: 20px;
    }

    &:hover{
        background-color: rgb(227, 227, 227);
        transition: 200ms;
    }

    .room-name-m{
        display: none;
    }

    .room-info-m{
        display: none;
    }
}


@media (max-width: 750px) {
    .room-card{
        margin: 20px 40px;
    }
}

@media (max-width: 600px) {
    .room-card{
        margin: 0px;
        padding: 10px;
        justify-content: center;
        flex-direction: column;
        border-radius: 0px;
        box-shadow: none;
        border: 1px solid #056a75;

        .room-info{
            display: none;
        }

        .room-img{
            display: none;
        }

        .room-name-m{
            display: block;
            font-size: 20px;
        }

        .room-info-m{
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
            font-size: 15px;

            .room-img-m{
                width: 40%;
                height: 200px;
                border-radius: 10px;

            }
        }
    }
}