.reserve-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;

    .reserve{
        position: relative;
        z-index: 100;
        width: 60%;
        height: 70vh;
        border-radius: 36px;
        background-color: #056a75be;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .reserve-top{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 25px;
            svg{
                height: 50px;
                cursor: pointer;
                transition: 200ms;

                &:hover{
                    color: red;
                    transition: 200ms;
                }
            }
        }
        
        .reserve-form{
            display: flex;
            flex-direction: row;
            gap: 5%;

            .form-calendar{
                display: flex;
                flex-direction: column;
                gap: 10px;

                .form-calendar-input{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                .calendar-button{
                    display: flex;
                    gap: 5px;
                }
            }

            .form-inputs{
                display: flex;
                flex-direction: column;
                gap: 10px;     
            }
            
            input[type="text"], input[type="date"], textarea{
                padding: 10px 15px;
                width: 300px;
                font-size: 18px;
                font-weight: 500;
                color: #056a75;
                background-color: white;
                border: 2px solid #056a75;
                border-radius: 10px;
                box-sizing: border-box;
                transition: 200ms;
                resize: none;

                &:focus {
                    border: 2px solid white;
                }

                &:disabled {
                    border: 2px solid rgba(255, 255, 255, 0.616);
                    background-color: rgba(255, 255, 255, 0.63);

                }
            }
            
            button{
                border-radius: 10px;
                padding: 10px;
                cursor: pointer;
                font-size: 20px;
                font-weight: 500;
                color: #056a75;
                background-color: white;
                border: 2px solid #056a75;
                transition: 200ms;

                &:hover{
                    background-color: #056a75;
                    border: 2px solid white;
                    color: white;
                    transition: 200ms;
                }
            }

            .button-submit-m{
                display: none;
            }
        }
    }
}

@media (max-width: 1160px){
    .reserve-backdrop{

        .reserve{
            width: 100%;
            height: 100vh;
            border-radius: 0px;

        }
    }
}

@media (max-width: 680px){
    .reserve-backdrop{

        .reserve{
            width: 100%;
            height: 100vh;
            border-radius: 0px;
            justify-content: center;
            gap: 50px;

            .reserve-top{
                flex-direction: column-reverse;
                gap: 20px;
                text-align: center;
                font-size: 20px;
            }

            .reserve-form{
                flex-direction: column;

                .button-submit{
                    display: none;
                }

                .button-submit-m{
                    display: block;
                }
            }
        }
    }
}